body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: royalblue;
  overflow-y: scroll;
}
.frame {
  position: relative;
  width: 100%;
  height: 300px;
  background: #f4f7fe;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.frame .box {
  position: relative;
  width: 100px;
  height: 100px;
  background: black;
}